# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc
.env

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3


# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / cache
*.egg-info/
*.egg
dist/
build/

# Staticfiles (optional if you collectstatic)
staticfiles/
