html body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    /* background-image: url(../images/cup.jpg); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

main {
    flex: 1;
}

nav {
    background-color: rgba(0, 0, 0, 0.829);
    backdrop-filter: blur(10px);
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-opt {
    display: flex;
}

ul li {
    margin-left: 20px;
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

ul li a:hover {
    color: aqua;
}


.nav-opt.show {
    display: flex;
    flex-direction: column;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

 /* updated nav style */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-btn,
.logout-btn {
    background: #6f4e37;
    color: #fff;
    padding: 7px 18px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.auth-btn:hover,
.logout-btn:hover {
    background: #4b2e2e;
    transform: translateY(-2px);
}

.signup-btn {
    background: #4b2e2e;
}

.signup-btn:hover {
    background: #2f1a1a;
}




/* ============================= */
/*  Responsive Navbar Styles   */
/* ============================= */

@media (max-width:768px) {
    .nav-opt {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 4rem;
        left: 0;
    }

    .menu-toggle {
        display: block;
    }
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    background: #6f4e37;
    color: #fff;
    padding: 6px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background: #4b2e2e;
}



/* ===== Footer Base Styles ===== */

footer {
    background-color: #252222;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    position: relative;
    margin-top: 0;
    font-size: 0.9rem;
    line-height: 1.6;
}




/* Home page hero section */

/* ===== Hero Section Styles ===== */

.hero {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../images/backgr.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-btn {
    display: inline-block;
    background-color: #6f4e37;
    /* coffee brown */
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #462d1a;
    /* darker coffee brown */
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 10px;
}










/* Our coffee page designing */

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4e342e;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    column-gap: 60px;
    row-gap: 40px;
    padding: 20px;
    padding-bottom: 40px;
    cursor: pointer;
}


.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0 5px;
    font-weight: 650;
}

.card p {
    font-size: 0.95rem;
    color: #666;
    margin: 5px 0;
}

.btn {
    display: inline-block;
    background-color: #6f4e37;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;

}


.btn:hover {
    background-color: #5a3f2a;

}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


/* Responsive for cards */

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 80%;
    }
}










/* ==================Cofee_detail page styling=================== */



.coffee-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.coffee-detail-hero {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}


.coffee-detail-main {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}


.coffee-detail-image {
    flex: 1 1 500px;
    max-width: 500px;
}

.coffee-detail-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-origin: center center;
}

.coffee-detail-image img:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}



.coffee-detail-info {
    flex: 1 1 500px;
}

.coffee-detail-info h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.coffee-detail-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #444;
}

.coffee-description {
    background-color: #fff;
    padding: 30px;
    margin-top: 40px;
    border-radius: 14px;
    font-size: 1.15rem;
    color: #222;
    font-weight: 400;
    line-height: 1.8;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.coffee-description:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.back-to-list {
    margin-top: 30px;
}

.back-to-list a {
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.back-to-list a:hover {
    background-color: #555;
}





/* ==============Cart styling============= */

.cart-section {
    max-width: 900px;
    margin: 80px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 16px;
    color: #1c1c1c;
    border: 1px solid black;
}

.cart-table thead {
    background-color: #1c1c1c;
    color: #ffffff;
}

.cart-table th {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 2px solid #8B4513;
    ;
}

.cart-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #fff;
}

.cart-table tr:last-child td {
    border-bottom: none;
}


.back-button-container {
    text-align: center;
    margin: 40px 0;
}

.back-btn {
    display: inline-block;
    background-color: #1c1c1c;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #4e342e;
}


.remove-btn {
    display: inline-block;
    padding: 6px 8px;
    background-color: #a52a2a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;

}












/*==============About page styling================= */

.about-section {
    background-color: #fffaf5;
    padding: 60px 20px;
    color: #3e2723;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

.about-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #4e342e;
    font-weight: bold;
}

.about-section p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 40px auto;
    color: #5d4037;
    line-height: 1.6;
}

.about-image {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
    transform: scale(1.03);
}







/* ===============Contact-page Styling================= */


.contact-container {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-heading {
    text-align: center;
    margin-bottom: 30px;
    color: #4e342e;
    font-family: 'Segoe UI', sans-serif;
}

.contact-heading h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.contact-heading p {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
    color: #6d4c41;
}


.message-container {
    margin: 15px 0;
    padding: 12px;
    background-color: #f4e1d2;
    color: #3e2723;
    border-left: 5px solid #8d6e63;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}




.contact-card {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    /* Visible border */
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #6d4c41;
}


.contact-form button {
    background-color: #6d4c41;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    transition: all 0.3s ease;
}

.contact-form button:hover {
    background-color: #5d4037;
    transform: scale(1.02);
    cursor: pointer;
}


.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4e342e;
}



/* ===============Checkout-page Styling================= */


.checkout-container {
    max-width: 600px;
    margin: 4rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.checkout-form input,
.checkout-form textarea {
    width: 100%;
    max-width: 450px;
    padding: 10px 14px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
}

.checkout-form button {
    background-color: #5C4033;
    color: #fff;
    border: none;
    padding: 12px 10px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    max-width: 150px;
    margin-top: 12px;

}

.checkout-form button:hover {
    background-color: #3e2c23;
    transform: scale(1.05);
}


/* ===============Checkout-button Styling================= */


.checkout-btn-container {
    margin-top: 20px;
    text-align: center;
}

.checkout-btn {
    background-color: #4e342e;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.checkout-btn:hover {
    background-color: #1c1c1c;
}





/* ================================  Success page styling =============================== */

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #fafafa;
}

.success-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 500px;
}

.success-card h2 {
    font-size: 26px;
    color: #4e342e;
    margin-bottom: 15px;
    font-weight: bold;
}

.success-card p {
    font-size: 16px;
    color: #333;
    margin-bottom: 25px;
    line-height: 1.6;
}








/* ================================  Order_History page styling =============================== */


.order-history {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.order-history h2 {
    color: #5c3d2e;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.order-history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-history li {
    padding: 12px;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.order-id {
    font-weight: bold;
    color: #5c3d2e;
}

.order-meta {
    font-size: 14px;
    color: #666;
}

.order-price {
    margin-left: 15px;
    font-weight: bold;
    color: brown;
}

.order-status {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
}

.order-status.delivered {
    background-color: #4CAF50;
}

.order-status.pending {
    background-color: #FFC107;
    color: #000;
}

.order-status.cancelled {
    background-color: #dc3545;
}




/* ================================  Reviews  styling =============================== */


.coffee-reviews ul {
    list-style: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.coffee-reviews li {
    background-color: #fff;
    border-left: 4px solid #6bf43f;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.coffee-reviews strong {
    color: #333;
}

.coffee-reviews small {
    color: #777;
    font-size: 0.85em;
}

.coffee-reviews li .review-rating {
    color: #6b4f3f;
    font-size: 1.2em;
    margin-left: 5px;
}

.add-review form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    ;
}


.add-review form input,
.add-review form textarea {
    width: 80%;
    /* full width */
    padding: 12px 15px;
    /* enough space inside */
    margin-bottom: 15px;
    /* spacing between fields */
    border: 1px solid #6b4f3f;
    /* brown border matching theme */
    border-radius: 8px;
    /* rounded corners */
    font-size: 1em;
    /* readable font size */
    background-color: #fff;
    /* white background */
    color: #333;
    /* dark text for readability */
    transition: all 0.3s ease;
    /* smooth hover/focus animation */
}

.add-review form input:focus,
.add-review form textarea:focus {
    border-color: #3e2f23;
    /* darker brown on focus */
    box-shadow: 0 0 8px rgba(107, 79, 63, 0.4);
    /* soft glow on focus */
    outline: none;
    /* remove default outline */
}




/* ===================================Sign-up page styling======================================= */

.signup-container {
    max-width: 420px;
    margin: 50px auto;
    padding: 35px 25px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}

.signup-container h2 {
    font-size: 28px;
    font-weight: bold;
    color: #4b2e2e;   
    margin-bottom: 25px;
    letter-spacing: 1px;
}


.signup-form label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #6f4e37;
    margin: 8px 0 4px;
    text-align: left;
    padding-left: 40px;
    letter-spacing: 0.5px;
}


.signup-form input {
    width: 80%;
    padding: 10px 14px;
    margin: 12px 0; 
    border: 2px solid #e0e0e0;
    border-radius: 25px;
    font-size: 15px;
    background-color: #fafafa;
    transition: all 0.3s ease;
    text-align: center;
}

.signup-form input:focus {
    border-color: #6f4e37;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(111, 78, 55, 0.4);
    outline: none;
}

.signup-form button {
    padding: 12px 30px;
    margin-top: 15px;
    background-color: #6f4e37;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.signup-form button:hover{
    background-color: #4b2e2e;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);;
}


.switch-auth {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.switch-auth a {
    color: #6f4e37;
    font-weight: 600;
    text-decoration: none;
}

.switch-auth a:hover {
    text-decoration: underline;
}





/* ===================================Login page styling======================================= */

.login-container {
    max-width: 420px;
    margin: 50px auto;
    padding: 35px 25px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}

.login-container h2 {
    font-size: 28px;
    font-weight: bold;
    color: #4b2e2e;   
    margin-bottom: 25px;
    letter-spacing: 1px;
}


.login-form label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #6f4e37;
    margin: 8px 0 4px;
    text-align: left;
    padding-left: 40px;
    letter-spacing: 0.5px;
}


.login-form input {
    width: 80%;
    padding: 10px 14px;
    margin: 12px 0; 
    border: 2px solid #e0e0e0;
    border-radius: 25px;
    font-size: 15px;
    background-color: #fafafa;
    transition: all 0.3s ease;
    text-align: center;
}

.login-form input:focus {
    border-color: #6f4e37;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(111, 78, 55, 0.4);
    outline: none;
}

.login-form button {
    padding: 12px 30px;
    margin-top: 15px;
    background-color: #6f4e37;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.login-form button:hover{
    background-color: #4b2e2e;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);;
}


.login-switch-auth {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.login-switch-auth a {
    color: #6f4e37;
    font-weight: 600;
    text-decoration: none;
}

.login-switch-auth a:hover {
    text-decoration: underline;
}




