{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'testapp/css/cart.css' %}">
{% endblock %}


{% block title %}
Your Cart
{% endblock %}


{% block content %}
<section class="cart-section">
    <h1>Your Cart</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Coffee</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for item in cart_items %}
            <tr>
                <td>{{ item.coffee.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price|floatformat:2 }}</td>
                <td>₹{{ item.subtotal|floatformat:2 }} </td>
                <td>
                    <form method="post" action="{% url 'remove-from-cart' item.coffee.id %}">
                        {% csrf_token %}
                        <button type="submit" class="remove-btn">Remove</button>
                    </form>
                </td>
            </tr>
            

            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong>₹{{ total_price|floatformat:2 }}</strong></td>
            </tr>
        </tbody>
    </table>
</section>

<div class="checkout-btn-container">
    <a href="{% url 'checkout' %}" class="checkout-btn">Proceed to Checkout</a>
</div>


<div class="back-button-container">
    <a href="{% url 'cafe' %}" class="back-btn">← Back to Our Coffees</a>
</div>
{% endblock %}