{% extends 'base.html' %}

{% load static %}


{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'testapp/css/home.css' %}">
{% endblock %}
<section class="hero">
    <div class="hero-overlay">
        <div class="hero-content">
            <h1>Where Every Sip Tells a Story</h1>
            <p>Discover premium, hand‑crafted coffees brewed with love.</p>
            <a href="{% url 'cafe' %}" class="hero-btn">Explore Our Coffees</a>
        </div>
    </div>
</section>    
{% endblock %}