{% extends 'base.html' %}

{% load static %}

{% block title %} Coffee List {% endblock %}

{% block content %}
<section class="card-section">

    <h1 class="section-title">Our Coffees</h1>

    <div class="card-container">

        <div class="card">
            <img src="{% static 'images/backgr.jpg' %}" alt="Signature Espresso" class="card-img">
            <h3>Signature Espresso</h3>
            <p>Classic that never goes out of style.</p>
            <form method="POST" action="{% url 'add_to_cart' 1 %}">
                {% csrf_token %}
                <button type="submit" class="btn">Add to Cart</button>
            </form>
        </div>

        <div class="card">
            <img src="{%static 'images/backgr.jpg' %}" alt="House Cappuccino" class="card-img">
            <h3>House Cappuccino</h3>
            <p>Perfect blend of milk and coffee richness.</p>
            <form method="POST" action="{% url 'add_to_cart' 2 %}">
                {% csrf_token %}
                <button type="submit" class="btn">Add to Cart</button>
            </form>
        </div>

        <div class="card">
            <img src="{%static 'images/backgr.jpg' %}" alt="Special Latte" class="card-img">
            <h3>Special Latte</h3>
            <p>Creamy and smooth for your daily delight.</p>
            <form method="POST" action="{% url 'add_to_cart' 3 %}">
                {% csrf_token %}
                <button type="submit" class="btn">Add to Cart</button>
            </form>
        </div>




        {% for coffee in coffee_list %}
        <div class="card">

            {% if coffee.image %}
            <img src="{{ coffee.image.url }}" alt="{{ coffee.name }}" class="card-img">
            {% endif %}
            <h3>{{ coffee.name }}</h3>
            <p>Flavour: {{ coffee.flavour }} </p>
            <p>Price: ${{ coffee.price }} </p>
            <a href="/detail/{{ coffee.id }}" class="btn">View Details</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}