{% extends 'base.html' %}
{% block content %}
<div class="coffee-detail-container">

    <section class="coffee-detail-hero">
        <!-- Group image and info together -->
        <div class="coffee-detail-main">
            <div class="coffee-detail-image">
                {% if coffee.image %}
                <img src="{{ coffee.image.url }}" alt="{{ coffee.name }}">
                {% endif %}
            </div>

            <div class="coffee-detail-info">
                <h2>{{coffee.name}}</h2>
                <p>Flavour: {{ coffee.flavour }}</p>
                <p>Price: ${{ coffee.price }}</p>
            </div>
        </div>

        <div class="coffee-description">
            {{ coffee.description }}
        </div>

        <section class="coffee-reviews">
            <h3>Customer Reviews</h3>

            {% if reviews %}
            <ul>

                {% for review in reviews %}
                <li>
                    <strong>{{ review.user.username}}</strong>
                    ({{ review.rating }}/5) <br>
                    ({{ review.comment }}) <br>
                    <small>{{ review.created_at }}</small>
                </li>
                {% endfor %}

            </ul>
            {% else %}
            <p>No Reviews yet. Be the first to review this coffee! </p>
            {% endif %}

        </section>




    </section>

    <div class="back-to-list">
        <a href="{% url 'cafe' %}">← Back to All Coffees</a>
    </div>

</div>
{% endblock %}