{% extends 'base.html' %}

{% load static %}

{% block title %} Coffee List {% endblock %}

{% block content %}
<section class="card-section">

    <h1 class="section-title">Our Coffees</h1>

    <div class="card-container">

        
        {% for coffee in coffee_list|slice:":3" %}
            
        <div class="card">

            {% if coffee.image %}
            <img src="{{ coffee.image.url }}" alt="{{ coffee.name }}" class="card-img">

            {% endif %}
            <h3>{{ coffee.name }}</h3>
            <p>Flavour: {{ coffee.flavour }} </p>
            <form method="post" action="{% url 'add_to_cart' coffee.id %}">
                {% csrf_token %}
                <button type="submit" class="btn">Add to Cart</button>
            </form>
        </div>
        {% endfor %}



        {% for coffee in coffee_list|slice:"3:" %}
        <div class="card">

            {% if coffee.image %}
            <img src="{{ coffee.image.url }}" alt="{{ coffee.name }}" class="card-img">
            {% endif %}
            <h3>{{ coffee.name }}</h3>
            <p>Flavour: {{ coffee.flavour }} </p>
            <p>Price: ${{ coffee.price }} </p>
            <a href="/detail/{{ coffee.id }}" class="btn">View Details</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}