{% extends 'base.html' %}


{% block content %}
    
    <section class="detail-section">

        <h3 style="color: red;">
            Detail of {{coffee.name}}
            <hr>
            Flavour : {{coffee.flavour}}
            Price   : {{coffee.price}}
        </h3>
    
    <a href="/update/{{coffee.id}}" >Update Coffee</a>
    <a href="/delete/{{coffee.id}}" >Delete Coffee</a>
    
</section>
{% endblock %}
</html>





<!-- 
    <style>
        a {
            display: inline-block;
            text-decoration: none;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            margin-left: 10px;
        }
    </style>
</head> -->