<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Maid latte{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- navbar -->

    <nav>
        <h2>Maid Latte</h2>
        <ul class="nav-opt">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'cafe' %}">Our Coffees</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href=#>Contact</a></li>
        </ul>
        <button class="menu-toggle">
            ☰
        </button>

        <a href="{% url 'cart' %}" class="cart-link">
            🛒 Cart ({{ request.session.cart|length|default:0 }})
        </a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Maid Latte Coffee Shop. All rights reserved.</p>
        <p>📞 123-456-7890 | ✉️ info@coffeeshop.com</p>
    </footer>


</body>
<script>
    const menutoggle = document.querySelector('.menu-toggle')

    const navOptions = document.querySelector('.nav-opt')

    menutoggle.addEventListener('click', () => {
        navOptions.classList.toggle('show');
    });
</script>

</html>